*{
    margin: 0;
    padding: 0;
}
.back{
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    overflow: hidden;
    pointer-events: none;
}
.back video {
    position: absolute; 
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
} 

.back h1{
    position: relative;
    top: 29%;
    /* left: 510px; */
    font-size: 800%;
    color: rgb(255, 255, 255);
    text-align: center;
}

.back h4 {
    position: relative;
    top: 29%;
    /* left: 510px; */
    font-size: 350%;
    color: rgb(255, 255, 255);
    text-align: center;
}
.image {
    position: relative;
    top: 712px;
    left: 0; 
    width: 100%;
    /* background-size: cover;
    background-attachment: fixed; */
}
.image img{
    width: 100%;
    height: 100vh;
}
.image .form{
    position: absolute;
    top: 4%;
    left :33%;
}
.form{
    background-color: rgba(0, 0, 0,0.4) ;
    /* background-color: transparent; */
    width: 35%;
    height: 92%;
    border-radius: 30px;
     padding: 50px 50px 70px;
     /* background: #131419; */
     /* background: transparent; */
     border-radius: 20px;
     text-align: center;
     /* box-shadow: -5px 5px 10px #fc00ff,
     5px -5px 10px #00dbde; */
     /* margin : -800px 0 0px 550px; */
}
.form h2 {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3PX;
}

.form .input {
    text-align: left;
    margin-top: 30px;
}
.form .input .inputbox {
    text-align: left;
    margin-top: 20px;
}

.form .input .inputbox label {
    display: block;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 5px;
    font-size: 20px;
}
.form .input .inputbox input {
    width: 100%;
    height: 30px;
    background: rgb(22, 17, 17,0);
    /* border-top: 1px solid white;
    border-left: none; */
    /*border-radius: 50px; */
    outline: none;
    /* padding: 15px; */
    padding-bottom: 5px;
    color: #2ff7f7;
    font-size: 19px;
    /* box-shadow: inset -2px -2px 6px rgba(0, 0, 0, 0.1),
        inset 5px 5px 8px rgba(0, 0, 0, 0.8); */
}
.form .input #btn input{
    color: white;
     border-top: 1px solid white;
     border-left: hidden;
     border-right: hidden;
     border-bottom: 1px solid white;
}
.form .input .inputbox .in{
    border-top: 1px solid white;
    border-left: hidden;
    border-right: hidden;
    border-bottom: 1px solid white;
}
.form .input .inputbox input[type="submit"] {
    margin-top: 20px;
    box-shadow: 5px 5px 6px rgba(255, 255, 255, 0.1),
        5px 5px 6px rgba(0, 0, 0, 0.2);
}




@media screen and (max-width: 400px) {
    * {
        margin: 0;
        padding: 0;
    }

    .back {
        width: 100%;
        height: 60%;
        position: absolute;
        object-fit: initial;
        overflow: hidden;
        pointer-events: none;
    }

    .back video {
        /* position: absolute; */
        /* top: 0;
            left: 0; */
        object-fit: initial;
         width: 100%;
            height: 100%; 
        pointer-events: none;
    }

    .title h1 {
        position: relative;
        top: 0;
        /* left: 510px; */
        font-size: 430%;
        color: rgb(255, 255, 255);
        text-align: center;
    }

    .title h4 {
        position: relative;
        top: 0;
        /* left: 510px; */
        font-size: 250%;
        color: rgb(255, 255, 255);
        text-align: center;
    }
}

/* .form .input .inputbox input[type="submit"]:active {
    /* color: #006c9; */
    /* box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
        inset 2px 2px 6px rgba(0, 0, 0, 0.8); 
} */



/* Samsung Mobile */
/* @media screen and (min-width: 400px) and (max-width: 600px) {
    .back {
      width: 50px;
      height: 100vh;
      position: absolute;
      object-fit: cover;
      overflow: hidden;
      pointer-events: none;
    }
    .back video {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: initial;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    .back h1 {
        position: relative;
        top: 29%;
        left: 510px; 
        font-size: 480%;
        color: rgb(255, 255, 255);
        text-align: center;
    }

    .back h4 {
        position: relative;
        top: 29%;
        left: 510px; 
        font-size: 350%;
        color: rgb(255, 255, 255);
        text-align: center;
    }
    .image {
        position: relative;
        top: 712px;
        left: 0;
        width: 100%;
        background-size: cover;
    background-attachment: fixed;
    }

    .image img {
        width: 100%;
        height: 1000px;
    }
} */



/* 
@media screen and (max-device-width: 500px) {
    * {
        margin: 0;
        padding: 0;
    }

    .back {
        width: 100%;
        height: 200vh;
        position: absolute;
        object-fit: initial;
        overflow: hidden;
        pointer-events: none;
    }

    .back video {
        /* position: absolute; */
       /* top: 0;
        left: 0;
        object-fit: initial;
        width: 100%;
        height: 500px;
        pointer-events: none;
    }

    .back h1 {
        position: relative;
        top: 29%;
        /* left: 510px; */
       /* font-size: 470%;
        color: rgb(255, 255, 255);
        text-align: center;
    }

    .back h4 {
        position: relative;
        top: 29%;
        /* left: 510px; */
      /*  font-size: 250%;
        color: rgb(255, 255, 255);
        text-align: center;
    }
    .image {
        position: relative;
        top: 712px;
        left: 0;
        width: 100%;
        /* background-size: cover;
    background-attachment: fixed; 
    }

    .image img {
        width: 100%;
        height: 500px;
    }

    .image .form {
        position: absolute;
        top: 4%;
        left: 33%;
    }

    .form {
        background-color: rgba(0, 0, 0, 0.4);
        /* background-color: transparent; */
      /*  width: 35%;
        height: 92%;
        border-radius: 30px;
        padding: 50px 50px 70px;
        /* background: #131419; */
        /* background: transparent; */
    /*    border-radius: 20px;
        text-align: center;
        /* box-shadow: -5px 5px 10px #fc00ff,
     5px -5px 10px #00dbde; */
        /* margin : -800px 0 0px 550px; */
 /*   }

    .form h2 {
        color: #ffffff;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 3PX;
    }

    .form .input {
        text-align: left;
        margin-top: 30px;
    }

    .form .input .inputbox {
        text-align: left;
        margin-top: 20px;
    }

    .form .input .inputbox label {
        display: block;
        font-weight: 500;
        color: #ffffff;
        margin-bottom: 5px;
        font-size: 20px;
    }

    .form .input .inputbox input {
        width: 100%;
        height: 30px;
        background: rgb(22, 17, 17, 0);
        /* border-top: 1px solid white;
    border-left: none; */
        /*border-radius: 50px; */
   /*     outline: none;
        /* padding: 15px; */
     /*   padding-bottom: 5px;
        color: #2ff7f7;
        font-size: 19px;
        /* box-shadow: inset -2px -2px 6px rgba(0, 0, 0, 0.1),
        inset 5px 5px 8px rgba(0, 0, 0, 0.8); */
    /*}

    .form .input #btn input {
        color: white;
        border-top: 1px solid white;
        border-left: hidden;
        border-right: hidden;
        border-bottom: 1px solid white;
    }

    .form .input .inputbox .in {
        border-top: 1px solid white;
        border-left: hidden;
        border-right: hidden;
        border-bottom: 1px solid white;
    }

    .form .input .inputbox input[type="submit"] {
        margin-top: 20px;
        box-shadow: 5px 5px 6px rgba(255, 255, 255, 0.1),
            5px 5px 6px rgba(0, 0, 0, 0.2);
    }

    .form .input .inputbox input[type="submit"]:active {
        /* color: #006c9; */
        /* box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
        inset 2px 2px 6px rgba(0, 0, 0, 0.8); 
    }*/
