*{
    margin: 0;
    padding: 0;
}
.log{
    width: 30%;
    height: 757px;
    background-color: rgb(55, 0, 66);
    color: white;
    font-size: 50px;
    float: left;
}
.log1{
    padding: 60% 0 0 53%;
}
.in{
    width: 70%;
    height: 757px;
    background-color: rgb(206, 2, 247);
    color: white;
    font-size: 50px;
    float: left;
}
.in1{
    margin: 25.5% 0 0 0;
    width: 10%;
    float: left;
}
.contant{
    width: 30%;
    height: 600px;
    background-color: rgb(31, 29, 29);
    float: left;
    margin: 7% 0 0 20%;
    border-radius: 20px;
}
h4{
    padding-left: 75px;
    padding-top: 50px;
}
h6{
    padding: 35px 0 0 75px;
}
p{
    padding: 0px 0 0 75px;
    font-size: 20px;
}
input{
    background: transparent;
    /* block-size: 30px; */
    width: 200px;
    height: 30px;
    color: grey;
     border-left: none;
     border-right: none;
     /* border-bottom: none; */
     margin: 0 0 0 75px;
}
.forget{
    font-size: 15px;
    padding: 0px 0 0 165px;
    text-decoration: none;
    color:white
}